<%- include("_header") -%>
<br>
<h1>Find Cars:</h1>

<div class="container">
  <form class="form-horizontal" action="/" method="post">

    <div class="form-group form-inline">
      <label class="control-label col-sm-2" for="id">VIN</label>
      <div class="col-sm-10 form-inline">  
        <input type="number" class="form-control" id="vin" name="vin" value=<%= data[0] %> >
        <p>	&nbsp;(equals)</p>
      </div>
    </div>

    <div class="form-group form-inline">
      <label class="control-label col-sm-2" for="make">Make</label>
      <div class="col-sm-10 form-inline">          
        <input type="text" class="form-control" id="make" name="make" value=<%= data[1] %> >
        <p>	&nbsp;(begins with)</p>
    </div>
    </div>

    <div class="form-group form-inline">
      <label class="control-label col-sm-2" for="model">Model</label>
      <div class="col-sm-10 form-inline">          
        <input type="text" class="form-control" id="model" name="model" value=<%= data[2] %> >
        <p>	&nbsp;(begins with)</p>
    </div>
    </div>

    <div class="form-group form-inline">
      <label class="control-label col-sm-2" for="mileage">Mileage</label>
      <div class="col-sm-10 form-inline">
        <input type="number" class="form-control" id="mileage" name="mileage" value=<%= data[3] %> >
        <p>	&nbsp;(less than or equal to)</p>
    </div>
    </div>

    <div class="form-group form-inline" style="display: flex; margin-left: 200px;">
        <div class="col-sm-offset-10 col-xs-3">
            <input type="submit" value="Find" class="btn btn-primary"/>
            <!-- Click Reset button to make a new searching -->
            <a type="button" class="btn btn-primary" href="/">Reset</a>
        </div>
    </div>
  </form>
</div>

<% if(display === true) { %>
    <div class="table-responsive-sm">
      <table class="table table-hover">
          <thead>
          <tr>
              <th>VIN</th>
              <th>Make</th>
              <th>Model</th>
              <th>Mileage</th>
          </tr>
          </thead>
          <tbody>
          <% for (const car of dataFound) { %>
              <tr>
              <td><%= car.carvin %></td>
              <td><%= car.carmake %></td>
              <td><%= car.carmodel %></td>
              <td><%= car.carmileage %></td>
              </tr>
          <% } %>
          </tbody>
      </table>
    </div>
<% } %>

<% if(display === false && found === 0) { %>
    <h2>No records found</h2>
<% } %>

<%- include("_footer") -%>